flow.txt
[
    {
        "id": "657675550a35a9b0",
        "type": "group",
        "z": "1d6ce0e558bbed6a",
        "name": "Post Request",
        "style": {
            "stroke": "#ff7f7f",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "bf9f6db196ef6ed9",
            "1f8b4ab2de3a5d02",
            "286a0f22c95b4e36",
            "4a0bb03876b0e2f2"
        ],
        "x": 134,
        "y": 479,
        "w": 652,
        "h": 162
    },
    {
        "id": "bf9f6db196ef6ed9",
        "type": "http request",
        "z": "1d6ce0e558bbed6a",
        "g": "657675550a35a9b0",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://pro11.fsb.hr/node-red/its-stud",
        "tls": "31d2e8e2f92067fb",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "credentials": {},
        "x": 430,
        "y": 600,
        "wires": [
            [
                "286a0f22c95b4e36",
                "4a0bb03876b0e2f2"
            ]
        ]
    },
    {
        "id": "1f8b4ab2de3a5d02",
        "type": "ui_button",
        "z": "1d6ce0e558bbed6a",
        "g": "657675550a35a9b0",
        "name": "POST",
        "group": "99d3400c9794a0b7",
        "order": 8,
        "width": "15",
        "height": "1",
        "passthru": false,
        "label": "POST",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "poruka",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 600,
        "wires": [
            [
                "bf9f6db196ef6ed9"
            ]
        ]
    },
    {
        "id": "286a0f22c95b4e36",
        "type": "debug",
        "z": "1d6ce0e558bbed6a",
        "g": "657675550a35a9b0",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 600,
        "wires": []
    },
    {
        "id": "4a0bb03876b0e2f2",
        "type": "ui_toast",
        "z": "1d6ce0e558bbed6a",
        "g": "657675550a35a9b0",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "31d2e8e2f92067fb",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": "",
        "credentials": {}
    },
    {
        "id": "99d3400c9794a0b7",
        "type": "ui_group",
        "name": "Prikaz informacija",
        "tab": "e78b668c58048f7e",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e78b668c58048f7e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1bc5bdad8e067a04",
        "type": "group",
        "z": "1d6ce0e558bbed6a",
        "name": "Data Manipulation",
        "style": {
            "label": true,
            "stroke": "#addb7b",
            "color": "#000000"
        },
        "nodes": [
            "0af8b3341e3a7c90",
            "8ddd176b2160ccbd",
            "252631e69f14a395",
            "37d7ca5faf6bfbef",
            "5800ec6df2233bed",
            "4e6f6d64d7d82c8d",
            "04a2a3dbabf1b908",
            "90f65fd234f242e5",
            "060292dd77706c75",
            "74bc02a89b567aa4",
            "03da1b1423ee546e",
            "a3035f56a97c60ba",
            "59d93a959fb24ad7",
            "5cfe1d50d057acd6"
        ],
        "x": 114,
        "y": 159,
        "w": 1412,
        "h": 502
    },
    {
        "id": "0af8b3341e3a7c90",
        "type": "http request",
        "z": "1d6ce0e558bbed6a",
        "g": "1bc5bdad8e067a04",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://pro11.fsb.hr/node-red/its?username=jv219927",
        "tls": "31d2e8e2f92067fb",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "credentials": {},
        "x": 510,
        "y": 300,
        "wires": [
            [
                "252631e69f14a395",
                "4e6f6d64d7d82c8d",
                "04a2a3dbabf1b908",
                "90f65fd234f242e5",
                "59d93a959fb24ad7",
                "5cfe1d50d057acd6"
            ]
        ]
    },
    {
        "id": "8ddd176b2160ccbd",
        "type": "ui_gauge",
        "z": "1d6ce0e558bbed6a",
        "g": "1bc5bdad8e067a04",
        "name": "Number ",
        "group": "99d3400c9794a0b7",
        "order": 3,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Number",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1360,
        "y": 300,
        "wires": []
    },
    {
        "id": "252631e69f14a395",
        "type": "change",
        "z": "1d6ce0e558bbed6a",
        "g": "1bc5bdad8e067a04",
        "name": "Broj",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 300,
        "wires": [
            [
                "8ddd176b2160ccbd"
            ]
        ]
    },
    {
        "id": "37d7ca5faf6bfbef",
        "type": "ui_button",
        "z": "1d6ce0e558bbed6a",
        "g": "1bc5bdad8e067a04",
        "name": "GET",
        "group": "99d3400c9794a0b7",
        "order": 2,
        "width": "15",
        "height": "1",
        "passthru": false,
        "label": "GET",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "0af8b3341e3a7c90"
            ]
        ]
    },
    {
        "id": "5800ec6df2233bed",
        "type": "ui_text",
        "z": "1d6ce0e558bbed6a",
        "g": "1bc5bdad8e067a04",
        "group": "99d3400c9794a0b7",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "Username",
        "label": "Username",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1370,
        "y": 380,
        "wires": []
    },
    {
        "id": "4e6f6d64d7d82c8d",
        "type": "change",
        "z": "1d6ce0e558bbed6a",
        "g": "1bc5bdad8e067a04",
        "name": "Username",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.username",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 380,
        "wires": [
            [
                "5800ec6df2233bed"
            ]
        ]
    },
    {
        "id": "04a2a3dbabf1b908",
        "type": "change",
        "z": "1d6ce0e558bbed6a",
        "g": "1bc5bdad8e067a04",
        "name": "Time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 460,
        "wires": [
            [
                "03da1b1423ee546e"
            ]
        ]
    },
    {
        "id": "90f65fd234f242e5",
        "type": "change",
        "z": "1d6ce0e558bbed6a",
        "g": "1bc5bdad8e067a04",
        "name": "Word",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data0",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 540,
        "wires": [
            [
                "74bc02a89b567aa4"
            ]
        ]
    },
    {
        "id": "060292dd77706c75",
        "type": "ui_text",
        "z": "1d6ce0e558bbed6a",
        "g": "1bc5bdad8e067a04",
        "group": "99d3400c9794a0b7",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Time",
        "label": "Time",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1450,
        "y": 460,
        "wires": []
    },
    {
        "id": "74bc02a89b567aa4",
        "type": "ui_text",
        "z": "1d6ce0e558bbed6a",
        "g": "1bc5bdad8e067a04",
        "group": "99d3400c9794a0b7",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Word1",
        "label": "Word",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1350,
        "y": 540,
        "wires": []
    },
    {
        "id": "03da1b1423ee546e",
        "type": "function",
        "z": "1d6ce0e558bbed6a",
        "g": "1bc5bdad8e067a04",
        "name": "Convert Time",
        "func": "var time = msg.payload;\n\nvar date = new Date(time * 1000);\n\nvar year = date.toLocaleString(\"default\", { year: \"numeric\" });\nvar month = date.toLocaleString(\"default\", { month: \"numeric\" });\nvar day = date.toLocaleString(\"default\", { day: \"2-digit\" });\n\nvar hours = date.toLocaleString('default', {\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n});\n\n\nvar formattedDate = day + month + year + ', ' + hours;\n\nmsg.payload = formattedDate;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 460,
        "wires": [
            [
                "060292dd77706c75"
            ]
        ]
    },
    {
        "id": "a3035f56a97c60ba",
        "type": "ui_text",
        "z": "1d6ce0e558bbed6a",
        "g": "1bc5bdad8e067a04",
        "group": "99d3400c9794a0b7",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Word2",
        "label": "Word2",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1350,
        "y": 620,
        "wires": []
    },
    {
        "id": "59d93a959fb24ad7",
        "type": "change",
        "z": "1d6ce0e558bbed6a",
        "g": "1bc5bdad8e067a04",
        "name": "Word2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data3.word",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 620,
        "wires": [
            [
                "a3035f56a97c60ba"
            ]
        ]
    },
    {
        "id": "5cfe1d50d057acd6",
        "type": "change",
        "z": "1d6ce0e558bbed6a",
        "g": "1bc5bdad8e067a04",
        "name": "Convert to Flow",
        "rules": [
            {
                "t": "set",
                "p": "poruka.username",
                "pt": "flow",
                "to": "payload.username",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "poruka.word",
                "pt": "flow",
                "to": "payload.data0",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "poruka.word1",
                "pt": "flow",
                "to": "payload.data3.word",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 200,
        "wires": [
            []
        ]
    }
]
